[alias]
	st = status
	cm = commit
	cmm = commit -m
	cma = commit -a -m
	cmd = commit --amend
	br = branch -vv
	co = checkout
	df = diff
        first = "!git checkout `git log --oneline --reverse | head -n 1 | awk '{print $1}'`"
	last = checkout master
	next = "!git checkout $(git log --oneline --reverse --ancestry-path 'HEAD..master' | head -n 1 | awk '{print $1}')"
	pre = checkout 'HEAD^'

[push]
	default = matching
